/*==================================================
RESET
==================================================*/

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/*==================================================
HTML
==================================================*/

html{
    scroll-behavior:smooth;
}


/*==================================================
BODY
==================================================*/

body{
    margin:0;
    padding:0;

    overflow-x:hidden;

    text-rendering:optimizeLegibility;

    -webkit-font-smoothing:antialiased;

    -moz-osx-font-smoothing:grayscale;
}


/*==================================================
MEDIA
==================================================*/

img,
picture,
svg,
video,
canvas{
    max-width:100%;

    height:auto;

    display:block;
}


/*==================================================
LINKS
==================================================*/

a{
    text-decoration:none;

    color:inherit;
}


/*==================================================
LISTS
==================================================*/

ul,
ol{
    list-style:none;
}


/*==================================================
FORM ELEMENTS
==================================================*/

button,
input,
textarea,
select{
    font:inherit;

    border:none;

    outline:none;

    background:none;
}


button{
    cursor:pointer;
}


/*==================================================
TEXTAREA
==================================================*/

textarea{
    resize:none;
}


/*==================================================
TABLE
==================================================*/

table{
    border-collapse:collapse;

    border-spacing:0;
}


/*==================================================
IFRAME
==================================================*/

iframe{
    width:100%;

    border:none;
}


/*==================================================
FOCUS
==================================================*/

:focus{
    outline:none;
}

:focus-visible{
    outline:2px solid var(--primary-color);

    outline-offset:3px;
}